@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.progress{

  height: 10px;
  border: 10px solid #221f1c;
  border-radius: 15px;
}
.progress .color{
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;    
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};

.spinner{
  /*   for centering div 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    
  /*   spinner div css */
    height : 50px;
    width : 50px;
    border-radius : 50%;
    /*background-color : red; */
    border : 10px solid black;
    border-top-color : rgb(107 114 128);
    animation : spin 1s linear infinite;
  }
  
  @keyframes spin{
    0%{
      transform : rotate(0deg);
    }
    100%{
      transform : rotate(360deg);
    }
  }
  